language: ruby
rvm:
  - rbx-2.0.0
  - rbx-2.1.1
  - rbx-2.2.10
  - rbx-2.3.0
  - rbx-2.4.1
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - 2.2.0
  - ruby-head
matrix:
  include:
    - rvm: jruby-19mode
      env: JRUBY_OPTS="$JRUBY_OPTS --debug"
      jdk: oraclejdk8
    - rvm: jruby-head
      env: JRUBY_OPTS="$JRUBY_OPTS --debug"
      jdk: oraclejdk8
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
  fast_finish: true
install: bundle install --jobs=1 --retry=3
